.bullet {
    margin: 0 5px 0 auto;
    background: #ff4b1f;
    color: white;
    border-radius: 20px;
    width: 8px;
    height: 13px;
    font-size: 12px;
    padding: 1px 3px 0 4px;
    font-weight: bolder;
}