.bullet {
    margin: 0 5px 0 auto;
    background: #ff4b1f;
    color: white;
    border-radius: 20px;
    width: 7px;
    height: 11px;
    font-size: 11px;
    padding: 0px 3px 3px 4px;
    font-weight: bolder;
}