/* 
buttons: linear-gradient(to right, #36D1DC, #5B86E5
shadow:     box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.32);
'black': #2c3e50
gris claro: #ced6e0
*/

.detail-card {
    display: flex;
    margin: 0px 0 30px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: white;
}

.detail-card-img-faker {
    height: 151px;
}

.detail-card-info {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* left: -30px; */
    width: 100%;
}

.detail-card-info-tags {
    font-style: italic;
    color: #b4b9c0 !important;
    margin: 0 0 0 15px !important;
}

.detail-card-info h3 {
    margin: 15px 0 0 15px;
}

.detail-card-info p {
    margin: 5px 0 10px 15px;
    font-size: 14px;
}

.detail-card-info p a {
    color: #ff4b1f;
    text-decoration: none;
}

.detail-card-description {
    width: 95%;
    margin: 10px 20px 0 0;
}

.detail-card-description p {
    /* text-align: justify; */
    letter-spacing: .6px;
    color: #2c3e50;
}

.detail-card-details {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px 15px;
}

.detail-card-details-actions {
    display: flex;
    justify-content: space-around;
}

.detail-card-details-actions p {
    font-size: 16px;
}

.detail-card-info-apply {
    display: flex;
    margin-top: auto;
    color: #b4b9c0;
}

.detail-card-info-apply a {
    /* text-decoration: none; */
    color: dodgerblue;
    margin-top: auto;
    padding-bottom: 4px;
}

.detail-card-info .detail-card-info-title {
    margin: 0;
    color: #b4b9c0;
    text-align: left;
}

.detail-card-info .detail-card-info-value {
    margin: 5px 0 0 0;
    ;
    color: #2c3e50;
    text-align: left;
    font-weight: bold;
}

.detail-card-info .detail-card-info-value i {
    color: #ffdd59;
}