.searchbar {
    margin-top: 15px;
    /* border: 1px dashed green; */
}

.searchbar form {
    /* display: flex; */
    /* flex-direction: row; */
}

.searchbar input {
    border: 0px solid black;
    width: 93%;
    border-radius: 5px;
    height: 20px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    /* box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.32); */
}

.searchbar form button {
    border: 0px solid red;
    width: 35px;
    height: 35px;
    margin-left: 15px;
    font-size: 14px;
    background: linear-gradient(to right, #36D1DC, #5B86E5);
    color: white;
    border-radius: 25px;
    /* box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.32); */
}